<a href="https://cocl.us/Data_Science_with_Scalla_top"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/SC0103EN/adds/Data_Science_with_Scalla_notebook_top.png" width = 750, align = "center"></a>
 <br/>
<a><img src="https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width="200" align="center"></a>"

# Module 2: Preparing Data

## Handling Missing Data and Imputing Values

### Lesson Objectives 

-	After completing this lesson, you should be able to: 
- Drop records according to different criteria
-	Fill missing data according to different criteria
-	Drop duplicate records


## DataFrame NA Functions 

-	The `na` method of DataFrames provides functionality for working with missing data 
- Returns an instance of `DataFrameNAFunctions`
-	The following methods are available: 
  -	`drop`, for dropping rows containing NaN or null values 
  -	`fill`, for replacing NaN or null values 
  -	`replace`,  for replacing values matching specified keys

In [1]:
import $ivy.`org.apache.spark::spark-sql:2.4.0` // Or use any other 2.x version here
import $ivy.`org.apache.spark::spark-mllib:2.4.0` // Or use any other 2.x version here
import  org.apache.spark.SparkContext
import org.apache.log4j.{Level, Logger}
Logger.getLogger("org").setLevel(Level.OFF)
val sc= new SparkContext("local[*]","stats")

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties

import $ivy.$                                   // Or use any other 2.x version here

import $ivy.$                                     // Or use any other 2.x version here

import  org.apache.spark.SparkContext

import org.apache.log4j.{Level, Logger}

sc: SparkContext = org.apache.spark.SparkContext@1314fa65

In [2]:
import org.apache.spark.sql.SparkSession
val spark = SparkSession.builder().getOrCreate()
import spark.implicits._
import org.apache.spark.sql.functions._

import org.apache.spark.sql.SparkSession

spark: SparkSession = org.apache.spark.sql.SparkSession@7146ed5
import spark.implicits._

import org.apache.spark.sql.functions._

In [3]:
val df = spark.range(0, 10).select("id").
    withColumn("uniform", rand(10L)).withColumn("normal", randn(10L))

val halfTonNaN = udf[Double, Double] (x => if (x > 0.5) Double.NaN else x)

val oneToNaN = udf[Double, Double] (x => if (x > 1.0) Double.NaN else x) 

val dfnan = df.withColumn("nanUniform", halfTonNaN(df("uniform"))).
    withColumn("nanNormal", oneToNaN(df("normal"))).drop("uniform"). 
    withColumnRenamed("nanUniform", "uniform").drop("normal"). 
    withColumnRenamed("nanNoemal", "normal")

dfnan.show()

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  1|                NaN|                 NaN|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  4|                NaN|  0.4977629425313746|
|  5|0.12030715258495939|  -0.506853671746243|
|  6|0.12131363910425985|                 NaN|
|  7|0.44292918521277047| -0.1413699193557902|
|  8|                NaN|  0.9657665088756656|
|  9|0.03650707717266999| -0.5021009082343131|
+---+-------------------+--------------------+

df: org.apache.spark.sql.package.DataFrame = [id: bigint, uniform: double ... 1 more field]
halfTonNaN: org.apache.spark.sql.expressions.UserDefinedFunction = UserDefinedFunction(
  ammonite.$sess.cmd2$Helper$$Lambda$3698/348501435@fc20d92,
  DoubleType,
  Some(List(DoubleType))
)
oneToNaN: org.apache.spark.sql.expressions.UserDefinedFunction = UserDefinedFunction(
  ammonite.$sess.cmd2$Helper$$Lambda$3704/31504559@7686e168,
  DoubleType,
  Some(List(DoubleType))
)
dfnan: org.apache.spark.sql.package.DataFrame = [id: bigint, uniform: double ... 1 more field]

## DataFrame NA Functions - drop 

-	`drop` is used for dropping rows containing `NaN` or `null` values according to a criteria 
-	Several implementations available:
  -	`drop(minNonNulls, cols)`
  -	`drop(minNonNulls)`
  -	`drop(how,cols)`
  - `drop(cols)`
  -	`drop(how)`
  -	`drop()`
-	`cols` is an `Array` or `Seq` of column names
- how should be equal any or all

In [4]:
// Dropping Rows With minNonNulls Argument 
dfnan.na.drop(minNonNulls = 3).show()

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  5|0.12030715258495939|  -0.506853671746243|
|  7|0.44292918521277047| -0.1413699193557902|
|  9|0.03650707717266999| -0.5021009082343131|
+---+-------------------+--------------------+

In [5]:
// Dropping Rows With How Argument 
dfnan.na.drop("all", Array("uniform", "nanNormal")).show()

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  4|                NaN|  0.4977629425313746|
|  5|0.12030715258495939|  -0.506853671746243|
|  6|0.12131363910425985|                 NaN|
|  7|0.44292918521277047| -0.1413699193557902|
|  8|                NaN|  0.9657665088756656|
|  9|0.03650707717266999| -0.5021009082343131|
+---+-------------------+--------------------+

In [6]:
// Dropping Rows With How Argument 
dfnan.na.drop("any", Array("uniform", "nanNormal")).show()

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  5|0.12030715258495939|  -0.506853671746243|
|  7|0.44292918521277047| -0.1413699193557902|
|  9|0.03650707717266999| -0.5021009082343131|
+---+-------------------+--------------------+

## DataFrame NA Functions - fill 

-	`fill` is used for replacing NaN or null values according to a criteria
-	Several implementations available:
  - `fill(valueMap)`
  -	`fill(value,cols)`
  -	`fill(value)`

In [7]:
// Filling Missing Data By Column Type
dfnan.na.fill(0.0).show()   

// Filling Missing Data With Column Defaults 
val uniformMean = dfnan.filter("uniform <> 'NaN'").groupBy().agg(mean("uniform")).first()(0)

dfnan.na.fill(Map("uniform" -> uniformMean)).show(5)

// Filling Missing Data With Column Defaults 
val dfCols = dfnan.columns.drop(1)

val dfMeans = dfnan.na.drop().groupBy().
agg(mean("uniform"), mean("nanNormal")).first().toSeq

val meansMap = (dfCols.zip(dfMeans)).toMap
dfnan.na.fill(meansMap).show(5)

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  1|                0.0|                 0.0|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  4|                0.0|  0.4977629425313746|
|  5|0.12030715258495939|  -0.506853671746243|
|  6|0.12131363910425985|                 0.0|
|  7|0.44292918521277047| -0.1413699193557902|
|  8|                0.0|  0.9657665088756656|
|  9|0.03650707717266999| -0.5021009082343131|
+---+-------------------+--------------------+

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  1|0.20860049668053607|                 NaN|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  4|0.20860049668053607|  0.4977629425313746|
+---+-------------------+--------------------+
only showing top 5 rows

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  1| 0.2231483062765821|-0.38527345109381406|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  4| 0.2231483062765821|  0.4977629425313746|
+---+-------------------+--------------------+
only showing top 5 rows

uniformMean: Any = 0.20860049668053607
dfCols: Array[String] = Array("uniform", "nanNormal")
dfMeans: Seq[Any] = WrappedArray(0.2231483062765821, -0.38527345109381406)
meansMap: Map[String, Any] = Map(
  "uniform" -> 0.2231483062765821,
  "nanNormal" -> -0.38527345109381406
)

## DataFrame NA Functions - replace 

-	`replace` is used for replacing values matching specified keys
-	`cols` argument may be a single column name or an array
-	replacement argument is a map: 
  -	`key` is the value to be matched 
  -	`value` is the replacement value itself

In [8]:
//Replacing Values in a DataFrame 

dfnan.na.replace("uniform", Map(Double.NaN -> 0.0)).show()

+---+-------------------+--------------------+
| id|            uniform|           nanNormal|
+---+-------------------+--------------------+
|  0|0.41371264720975787| -0.5877482396744728|
|  1|                0.0|                 NaN|
|  2| 0.1982919638208397|  -0.256535324205377|
|  3|0.12714181165849525|-0.31703264334668824|
|  4|                0.0|  0.4977629425313746|
|  5|0.12030715258495939|  -0.506853671746243|
|  6|0.12131363910425985|                 NaN|
|  7|0.44292918521277047| -0.1413699193557902|
|  8|                0.0|  0.9657665088756656|
|  9|0.03650707717266999| -0.5021009082343131|
+---+-------------------+--------------------+

## Duplicates

-	`dropDuplicates` is a `DataFrame` method 
-	Used to remove duplicate rows
-	May specify a subset of columns to check for duplicates

In [10]:
// Dropping Duplicate Rows 
val dfDuplicates = df.unionAll(sc.parallelize(Seq((10,1,1),(11,1,1))).toDF())

// Dropping Duplicate Rows 
val dfCols = dfnan.withColumnRenamed("nanNormal", "normal").columns

dfDuplicates.dropDuplicates(dfCols).show()

+---+-------------------+--------------------+
| id|            uniform|              normal|
+---+-------------------+--------------------+
|  3|0.12714181165849525|-0.31703264334668824|
|  0|0.41371264720975787| -0.5877482396744728|
|  2| 0.1982919638208397|  -0.256535324205377|
| 10|                1.0|                 1.0|
|  6|0.12131363910425985|  1.4250903895905769|
|  5|0.12030715258495939|  -0.506853671746243|
| 11|                1.0|                 1.0|
|  4| 0.7604318153406678|  0.4977629425313746|
|  7|0.44292918521277047| -0.1413699193557902|
|  1| 0.7311719281896606|  1.5746327759749246|
|  9|0.03650707717266999| -0.5021009082343131|
|  8| 0.8898784253886249|  0.9657665088756656|
+---+-------------------+--------------------+

dfDuplicates: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [id: bigint, uniform: double ... 1 more field]
dfCols: Array[String] = Array("id", "uniform", "normal")

In [11]:
sc.stop()

## Lesson Summary

-	Having completed this lesson, you should be able to: 
- Drop records according to different criteria
-	Fill missing data according to different criteria
-	Drop duplicate records

### About the Authors

[Petro Verkhogliad](https://www.linkedin.com/in/vpetro) is Consulting Manager at Lightbend. He holds a Masters degree in Computer Science with specialization in Intelligent Systems. He is passionate about functional programming and applications of AI.